---
title: HTML5 Boilerplate Middleman
---
    <section id="intro">
    <div class="row">
      <div class="large-6 medium-6  small-centered columns">
        <%= image_tag "logo.png" , :id=>"logo"%>
        <h2 class="headline">
            Recover. Repeat.
        </h2>
        <p class="deck">
            Post-Workout Recovery Supplement
        </p>
      </div>
    </div>
    </section>
    
    <section>
    
        <div class="row">
            <div class="large-8 medium-12 large-centered columns">
                <p class="deck">RxWoDer&trade; is specially formulated to make sure none of your hard work goes to waste. </p>
                <p>It contains only high quality ingredients with no artificial flavours or sweeteners. All that&rsquo;s in our product is what you need to recover from a tough WoD. Whether you&rsquo;re trying to lose weight, pack on muscle, or get a new personal record, this is your prescribed workout of the day exercise recovery! </p>
                <h3>What it Does</h3>

            <ul>
                <li>Helps rebuild Muscle</li>
                <li>Reduce recovery time between workouts </li>
                <li>Support your immune system</li>
                <li>Reduce muscle and joint pain</li>
                <li>Replenish electrolytes, improve energy</li>
                </ul>
              <h3>What's in it</h3>
                <p>Vegan protein, Carbs, Electrolytes, Vitamins &amp; Minerals</p>
          </div>
        </div>
    </section>

    <section id="sign-up">
    <div class="row">
        
        
    <div class="large-8 medium-12 large-centered columns">

        <p class="deck">Get notified when RxWoDer is available</p>

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//rxwoder.us8.list-manage.com/subscribe/post?u=e12c951030cebb9647d36eae9&amp;id=e122ed7e0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <p class="indicates-required"><span class="asterisk">*</span> indicates required</p>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_e12c951030cebb9647d36eae9_e122ed7e0c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          <script type='text/javascript'>
            (function($) {
              window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
          </script>
          <!--End mc_embed_signup-->

      </div>
    </div>
    </section>

    <footer id="footer">
        <div class="row">
            <div class="large-12 columns">
                <p class="small">RxWoDer™</p>
            </div>
        </div>  
    </footer>