.FeatureHeaderPage {
    padding-top: 8em;
    padding-bottom: 120%;
    background-color: $red;
    background-size: cover;
    background-image: image_url('bottle-bg-mobile.jpg');
    background-repeat: no-repeat;
	background-position: center bottom;

    @media #{$medium} {
        padding: 10em 0 6em 0;
        background-color: #000;
        background-position: 70% bottom;
        background-image: image_url('bottle-bg.jpg');
        min-height: 600px;
    }

    h2 {
        font-size: 5em;
        display: inline;
        background-color: $beige;
        line-height: 1em;
        box-shadow: 10px 0 0 $beige, -10px 0 0 $beige;

        &:after {
            content: " ";
            display: block;
            margin-bottom: 0.25em  ;
        }
        
        @media #{$small-only} {
            font-size: 2.8em;
        }
    }

    h3 {
        color: $beige;
        font-size: 1.4em;
        @media #{$small-only} {
            font-size: 1.2em;
        }
    }
}
