.FeatureHeaderPage {
	padding: 10em 0 8em 0;
	background-color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
    h2 {
        font-size: 4em;
    }

    h3 {
        color: rgba(#fff, 0.85);
        font-size: 1.5em;
    }
}
