.footer {
	padding: 2em 0 1em;
	background-color: $dark-grey;

	ul {
		li {
			a {
				font-family: $header-font-family;
				text-transform: uppercase;
			}
		}
		&.social {
			li {
				float: right;

				a {
					span {
						font-size: 2em;
					}
				}
			}
		}
	}
}
