footer {
  padding: 0;
  background: $black;

  ul {
    margin: 0;
    li {
      a {
        text-transform: uppercase;
        font-size: 0.65em;
        font-weight: 500;
        color: darken(#fff, 50%);

        &:hover {
            color: #fff;
        }
      }
    }
  }
}

.footer-about {
  padding: 2em 0 0;
    
  @media #{$medium} {
    padding: 3em 0;
  }

  p {
    color: rgba(#fff, 0.65);
    padding: 0;
    margin: 0 0 1em;
  }

  svg {
    max-width: 138px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
  
  @media #{$medium} {
    padding: 3em 0;
  }

  h3 {
    font-size: 0.75em;
    color: rgba(#fff, 0.5);
  }
}
