footer {
  padding: 2em 0;
  background: $dark-grey;

  ul {
    margin: 0;
    li {
    	// display: inline-block;
      a {
        text-transform: uppercase;
        font-size: 0.65em;
        font-weight: 500;
        color: darken(#fff, 50%);

        &:hover {
            color: #fff;
        }
      }
    }

		&.social {
		li {
				float: right;

				a {
					span {
						font-size: 2em;
					}
				}
			}
		}

  }
}
