.header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    @media #{$large} {
        background: none;
    }
    .hidden {
        display: none;
        visibility: hidden;
    }

    .menu-toggle {
        color: #000;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        z-index: 9999;
        padding: 28px;
        svg path{
            fill: $red;
        }
    }


    #logo {
        svg {
            fill: #FFF;
            max-height: 48px;
            margin: 16px 0;
            @media #{$large} {
                margin: 1.13em 0;
            }

            path {
                fill: #fff;
            }
        }
    }

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            float: right;
            li {
                float: left;
                a {
                    display: block;
                    padding: 2.08em 1em;
                    text-transform: uppercase;
                    font-family: $header-font-family;
                    font-weight: 800;
                    color: #FFF;
                    font-size: 0.875em;
                }
            }
        }
    }
}
