// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$white: #FFFFFF;
$beige: #FAF9F4;
$off-white: #FDFDFB;

$dark-grey: #0d0d0d;
$black: #1d1d1d;

$red: #D8232A;
$orange: #E69D16;

$primary-color: $red;
$secondary-color: $orange;

$body-font-color: #222;

// Type
$body-font-color: #5e5e5e;
$body-font-family: 'Open Sans',"HelveticaNeue-Regular, Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-style: normal;
$header-font-family: 'Russo One', "proxima-nova-extra-condensed", "HelveticaNeue-Regular, Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Block Grid
$block-grid-default-spacing: 0;

// Buttons
$button-font-family: $header-font-family;
$easeOutExpo   : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo    : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo : cubic-bezier(1.000, 0.000, 0.000, 1.000);