// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

// Grid
// $row-width: rem-calc(1000);
// $column-gutter: rem-calc(30);
// $total-columns: 12;

// Default Colors
// $primary-color: #008CBA;

$white: #FFFFFF;
$beige: #FAF9F4;
$off-white: #FDFDFB;

$dark-grey: #0d0d0d;

$red: #D8232A;
$orange: #E69D16;

$primary-color: $red;
$secondary-color: $orange;

$body-font-color: #222;

// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

// Type
$body-font-color: #5e5e5e;
$body-font-family: "HelveticaNeue-Regular, Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-style: normal;
