.facebook {
	padding: 1em 0;
	
	@media #{$medium} {
	  	padding: 3em 0 1em;
	}

	h3 {
	  font-size: 0.75em;
	  color: rgba(#fff, 0.5);
	}
	
	p {
		padding: 0;
	}
}

.instagram {
	margin-top: 1em;
	
	@media #{$medium} {
		margin-top: 3em;
	}
	.image-wrapper {
		position: relative;
		transform: scale3d(1,1,1);
		transition: all 160ms $easeOutExpo;
		z-index: 99;
		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.60);
			content: " ";
		}

		&:hover {
			z-index: 999;
			transform-origin: bottom center;
			transform: scale3d(1.15, 1.15, 1.15);
			position: relative;
			&:before {
				background: rgba(0, 0, 0, 0.10);
			}
		}
	}
}
