h1, h2, h3, h4 {
	font-weight: 900;
	font-family: $header-font-family;
	margin-top: rem-calc(3px);
	margin-bottom: rem-calc(8px);
}

h2 {
	font-size: 3.0em;
	text-transform: uppercase;
	color: #D8232A;
	line-height: 1em;
}

h3 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.2em;
	&.subheader {
		line-height: 1.2em;
	}
}

ul, ol {
	margin-top: 0;
}

p {

	font-size: rem-calc(18px);
	line-height: rem-calc(28px);

	font-family: $body-font-family;
	color: $body-font-color;

	&.deck {
		font-size: emCalc(24px);
		line-height: emCalc(30px);
	}
}

blockquote {
	border-left: 4px solid $orange;
	margin: 2em 0;

	p {
		font-size: emCalc(24px);
		line-height: emCalc(30px);
		color: $orange;
		font-style: italic;

		&:before {
			content: "\201C";
		}

		&:after {
			content: "\201D";
		}
	}
}

img {
	&.left {
		float: left;
		margin: 0 1.5em 0.5em 0;
		border-right: 5px solid $dark-grey;
		border-bottom: 5px solid $dark-grey;
	}

	&.right {
		float: right;
		margin: 0 0 0.5em 1.5em;
		border-left: 5px solid $dark-grey;
		border-bottom: 5px solid $dark-grey;
	}
}
