
h1, h2, h3, h4 {
	font-weight: 900;
}
h1 {

}
h2 {
	font-size: 3.0em;
	text-transform: uppercase;
	color: #D8232A;
	font-weight: 900;
	line-height: 1em;
}

h3 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.25em;
	line-height: 1.2em;	
	&.subheader {
		line-height: 1.2em;
	}
}


p {

	font-size: rem(18px);
	line-height: rem(28px);

	font-family: $body-font-family;

	color: $body-font-color;

	// spacing

	&.deck {
		font-size: rem(24px);
		color: $dark-grey;
		line-height: rem(28px);
	}
}

ul li, ol li {
	// spacing set up
	// line-height
	// font-size
	// color
}
ul {
	// list-style-type
	li {

	}
}

ol {
	// list-style-type
	li {

	}
}
