@import "settings";
@import url("http://fonts.googleapis.com/css?family=Russo+One|Open+Sans:400italic,400,700,800");
@import "typography";

#tinymce.mceContentBody.typography {
    padding: 18px 20px;
    font-size: 1em;
    max-width: 720px;
}
